@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Macondo&family=Merienda:wght@400;700&family=Oxygen&family=Poppins:wght@300;400;500&display=swap');
@import url('http://fonts.cdnfonts.com/css/gumela');

/* ======Font Name====== */
/* font-family: 'Acme', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Macondo', cursive;
font-family: 'Merienda', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
    --ff-gumela: 'Gumela', sans-serif;
    --ff-headline-style: 'Merienda', cursive;
    --ff-text-style: 'Macondo', cursive;
    --ff-oxygen: 'Oxygen', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-text-bold: 'Acme', sans-serif;
    --clr-bg: #17182C;
    --clr-yellow: #ff9100;
    --clr-skyblue: #2B2B6A;
    --clr-green: #008000;
    --clr-white: #fff;
    --border: 1px solid rgb(255, 255, 255);
    --box-shadow: 0 10px 10px rgba(107, 107, 107, 0.2);
    --bg-gradient: linear-gradient(to bottom, #2c2400 0%, #171717 42%, #181818 80%,#17182C 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: var(--ff-oxygen);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 0rem;
}
body{
    overflow-x: hidden;
    background: var(--clr-bg);
    color: var(--clr-white);
}
::after,
::before{
    box-sizing: inherit;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2,
h3,
h4,
p{
    margin: 0;
}
h1{
    font-family: var(--ff-gumela);
    margin: 2rem 0;
    font-size: 2.5rem;
}
h2{
    font-family: var(--ff-headline-style);
    margin: 1.5rem 0;
}
h3{
    font-family: var(--ff-headline-style);
}
h4{
    font-family: var(--ff-oxygen);
    letter-spacing: 2px;
    font-size: .7rem;
    margin: .5rem 0;
}
p{
    font-family: var(--ff-oxygen);
    font-size: 1.125rem;
    margin: .5rem 0;
}
.highlight{
    color: var(--clr-yellow);
}
section{
    padding: 3rem 0;
}
.p-3{
    padding: 3rem 0;
}
.container{
    margin-inline: auto;
    width: min(90%, 70rem);
}
.t-center{
    text-align: center;
}
.c-header{
    color: var(--clr-yellow);
    margin-top: 0;
}
.c-header-top{
    color: rgba(255, 255, 255, 0.5);
}
.c-white{
    color: var(--clr-white);
}
.link{
    color: var(--clr-yellow);
    text-decoration: underline;
}
/* =======See this======= */
.m-0{
    margin: 0;
}
.link:hover{
    color: var(--clr-white);
    text-decoration: none;
}
.btn,
.active:hover{
    padding: .3rem 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    color: var(--clr-white);
    font-size: .8em;
    background: transparent;
}
.active,
.btn:hover{
    background: var(--clr-white);
    color: var(--clr-bg);
}
/* ========Navbar Design======== */
header{
    background: rgb(2,0,36);
    background: var(--bg-gradient);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    color: var(--clr-white);
    font-size: 3.5rem;
}
.navbar{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
}
nav{
    height: 3rem;
    width: 30rem;
    background-color: rgba(255,255,255, .2);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 2px;
    box-shadow: var(--box-shadow);
}
@supports(backdrop-filter: blur(1rem)){
    nav{
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1rem);
        border-radius: 2px;
    }
}
nav::before{
    content: "";
    position: absolute;
    top: 50;
    left: -15vw;
    background-color: rgba(255,255,255, .2);
    height: 1px;
    width: 15vw;
}
.nav-elements{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-elements a{
    color: var(--clr-white);
    font-size: .9rem;
    font-family: var(--ff-gumela);
    letter-spacing: 1px;
}
.nav-elements a:hover{
    color: var(--clr-yellow);
    transform: scaleX(1.1);
}
.nav-elements a span{
    padding-right: 5px;
}
.nav-toggle{
    color: var(--clr-white);
    font-size: 1.5rem;
    display: none;
}
.nav-toggle .toggle-icon[name="nav-close"]{
    display: none;
}

/* ========Intro Design========= */
.intro{
    display: flex;
    flex: 4;
}  
.intro .i-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--clr-white);
}  
.i-left-btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}
.intro .i-middle{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .i-middle img{
    height: 85vh;
}
.intro .i-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 5rem 2rem;
    gap: 2rem;
}
.intro .i-right a{
    font-size: 1.5rem;
}
.intro .i-right a:nth-child(1){
    color: #1f54ff;
}
.intro .i-right a:nth-child(2){
    color: #fc00b0;
}
.intro .i-right a:nth-child(3){
    color: #fc0000;
}
.intro .i-right a:nth-child(4){
    color: #ffffff;
}
.intro .i-right a:nth-child(5){
    color: #008bfc;
}
.intro .i-right a:hover{
    color: var(--clr-btn);
}
/* ========Media Design========= */
.about{
    background: var(--clr-bg);
}
.about-content{
    display: flex;
}
.about-content .a-left{
    flex: 1;
}
.about-content .a-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}
.about-content .a-right .a-right-1{
    display: flex;
    gap: 1rem;
}
.about-content .a-right .a-right-1 > * {
    flex: 1;
    color: var(--clr-white);
    border: 1px solid #E88504;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-content .a-right .a-right-1 > * > h2{
    border: 3px solid #E88504;
    border-radius: 50rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-btn-hvr);
}
.about-content .a-right .a-right-2{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--clr-white);
}
/* ========services Design========= */
.exprience-content{
    margin-inline: auto;
    width: 90%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
}
.exprience-content .e-cont{
    flex: 1;
    background: var(--clr-skyblue);
    border-radius: 10px;
    padding: 2rem 0;
}
.exprience-content .e-cont .e-child{
    display: flex;
}
.exprience-content .e-cont .e-child > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.exprience-content .e-cont .e-child h4 span{
    margin-right: .5rem;
    color: var(--clr-yellow);
}
/* ========Product Design========= */
.products-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 2rem;
    padding: 3rem 0;
}
.products-content .p-card{
    border: var(--border);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: var(--clr-white);
    color: var(--clr-green);
}
.products-content .p-card:hover.p-card{
    background: var(--clr-green);
    color: var(--clr-white);
    transition: background .3s ease-in-out;
}
.products-content .p-card img{
    width: 100%;
}
.products-content .p-card .p-card-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87.5%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
@supports(backdrop-filter: blur(1rem)){
    .products-content .p-card .p-card-inner{
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(.3rem);
    }
}
.products-content .p-card:hover .p-card-inner{
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}
.products-content .p-card .p-card-inner h2{
    margin-bottom: 0;
    color: var(--clr-yellow);
}
.products-content .p-card .p-card-inner h2 span{
    color: var(--clr-white);
    margin-left: 1rem;
}
.products-content .p-card .p-card-inner div span{
    color: var(--clr-green);
}
/* ========Media Design========= */

@media only screen and (max-width: 991px){
    html{
        font-size: 85%;
    }
    .about-content{
        flex-direction: column;
    }
    .about-content .a-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .exprience-content .e-cont{
        transform: scale(85%);
    }
}
@media only screen and (max-width: 766px){
    html{
        font-size: 75%;
    }
    .nav-toggle{
        display: block;
        z-index: 99;
        font-size: 2rem;
    }
    .nav-active .nav-toggle .toggle-icon[name="nav-close"]{
        display: block;
        font-size: 2.5rem;
    }
    .nav-active .nav-toggle .toggle-icon[name="nav-bar"]{
        display: none;
    }
    nav{
        position: fixed;
        height: 100vh;
        width: 70vw;
        top: 0;
        right: 0;
        background-color: rgba(255,255,255, .2);
        padding: min(30vh, 5rem) 5vw;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;
    }
    .nav-active nav{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-out;
    }
    @supports(backdrop-filter: blur(1rem)){
        nav{
            background-color: rgba(29, 25, 0, 0.8);
            backdrop-filter: blur(1rem);
            border-radius: 2px;
        }
    }
    .nav-elements{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 10rem;
    }
    .nav-elements a{
        font-size: 1.125rem;
    }
    nav::before{
        display: none;
    
    }
    .intro{
        flex-direction: column;
    }  
    .intro .i-left{
        justify-content: center;
        align-items: center;
    }  
    .intro .i-middle{
        align-items: center;
    }
    .intro .i-right{
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 5rem 0;
    }
    .intro .i-right a{
        font-size: 2rem;
    }
    .about-content .a-right{
        padding: 2rem 0;
    }
    .exprience-content{
        flex-direction: column;
        gap: 1rem;
        width: 85%;
        padding: 2rem 0;
    }
    .exprience-content .e-cont{
        transform: scale(100%);
    }
    /* .products-content .p-card .p-card-inner{
        height: 91.5%;
    } */
}
@media only screen and (max-width: 420px){
    html{
        font-size: 70%;
    }
    nav{
        width: 100vw;
    }
    .nav-elements{
        align-items: center;
        gap: 2rem;
    }
    .nav-elements a{
        font-size: 1.125rem;
    }
    .exprience-content{
        width: 100%;
    }
    .products-content .p-card .p-card-inner{
        align-items: center;
    }
}